<% if (is_post()){ %>
<div class="left-col-nav" id="left-col-nav">
    <a href="javascript:void(0);" title="隐藏左侧">
        <i class="fa fa-angle-double-left"></i>
    </a>
</div>
<script>
    $("#left-col-nav > a > i").click(function() {
        var cls = $(this).attr("class");
        if(cls.indexOf("fa-angle-double-left") > -1){
            $(this).removeClass("fa-angle-double-left");
            $(this).addClass("fa-angle-double-right");
            $(this).parent().attr("title", "显示左侧");
            $(this).parent().data("title", "显示左侧"); // 更新缓存

            // 隐藏左侧
            $(".left-col").hide(); // 左侧隐藏
            $(".mid-col").css("left", "0px"); // 改变主题宽度
            $("#post-nav-button").css("left", "0px"); // 改变切换文章栏位置
            $("#left-col-nav").css("left", "0px"); // 隐藏显示图标位置
            //显示目录图标
            $(".nav-table-content").show();
            //隐藏目录默认结构
            if($("#tocButton").css("display") != "none") {
                $("#toc").css("display", "none");
                $("#tocButton").css("display", "none");
            }
        }else{
            $(this).removeClass("fa-angle-double-right");
            $(this).addClass("fa-angle-double-left");
            $(this).parent().attr("title", "隐藏左侧");
            $(this).parent().data("title", "隐藏左侧"); // 更新缓存
            // 显示左侧
            $(".left-col").show();
            $(".mid-col").css("left", "300px");
            $("#post-nav-button").css("left", "300px"); // 改变切换文章栏位置
            $("#left-col-nav").css("left", "300px"); // 隐藏显示图标位置
            //隐藏目录图标
            $(".nav-table-content").hide();

            // if the toc is showing, change the icon.
            if($("#toc").is(":visible")){
                $("#toc").removeClass("common-bg");
                $("#toc").removeClass("margin-left-30");
                $(".nav-table-content .fa-list-ol,.nav-table-content .fa-times").toggle();
            }

            // if the post list is showing, change the icon.
            if($(".post-list").is(":visible")){
                $(".post-list").removeClass("common-bg");
                $(".post-list").removeClass("margin-left-30");
//                $(".post-list").toggle();
//                $(".nav-table-content").next().children().each(function(index, dom){
//                    $(dom).toggle();
//                });
            } else {
                //显示目录默认结构
                $("#tocButton").css("display", "");
                $("#tocButton").click();
            }

        }
    })
</script>
<% } %>